.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: calc(100% - 400px);
  height: auto;
  border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media (max-width: 1050px) {
  .header {
    max-width: calc(100% - 300px);
  }
}

@media (max-width: 650px) {
  .header {
    height: auto;
    max-width: 100%;
  }
}
