.popup__picture-title {
  position: absolute;
  left: 0px;
  bottom: -32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #ffffff;
}
