.photo-grid__delete-area{
    position: absolute;
    background-image: url(../../../images/PHOTO-GRID/Group.svg);
    background-position: center;
    background-size: cover;
    display: flex;
    width: 18px;
    height: 19px;
    padding: 0;
    border: none;
    cursor: pointer;
    right:20px;
    top:20px;
    background-color: none;
    z-index: 1;
  }
  
  .photo-grid__delete-area:hover {
    opacity: 0.5;
    transition: 0.6s linear;
  }

