.photo-grid__item-text{
display: flex;
justify-content: space-between;
justify-items: stretch;
align-items: center;
padding: 30px 20px 31px 21px;
max-width:246px;
padding-bottom: 22px;
color: #000000;
background-color: #FFFFFF;
border-radius:0 0 10px 10px;
}