.profile__content {
  display: grid;
  grid-template-columns: minmax(min-content,max-content) minmax(min-content,max-content);
  grid-template-rows: minmax(min-content,max-content) minmax(min-content,max-content);
  gap: 8px 20px;
  margin: 0 0 0 30px;
  padding-top: 21px;
  width: 336px;
}

@media (max-width: 1050px) {
  .profile__content {
    
    gap: 8px 10px;
    padding-top: 26px;
    margin:0 auto;
    width: 100%;
  }
}

@media (max-width: 650px) {
  .profile__content {
 
    
    }
}
